on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on post-fs
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b
    symlink /dev/block/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/by-name/preloader_b /dev/block/by-name/preloader_emmc_b